<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.huynhvinh.applazada_java">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/flashscreen"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        >
        <activity android:name=".view.TrangChu.TrangChuActivity">
        </activity>
        <activity android:name=".view.ManHinhChao.ManHinhChaoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.DangNhap.DangNhapActivity"></activity>
        <activity android:name=".view.HienThiSanPhamTheoDanhMuc.HienThiSanPhamTheoDanhMucActivity"></activity>
        <activity android:name=".view.ChitietSanPham.ChiTietSanPhamActivity"></activity>
        <activity android:name=".view.DanhGia.ThemDanhGiaActivity"></activity>
        <activity android:name=".view.DanhGia.DanhSachDanhGiaActivity"></activity>
        <activity android:name=".view.GioHang.GioHangActivity"></activity>
        <activity android:name=".view.ThanhToan.ThanhToanActivity"></activity>
        <activity android:name=".view.SanPhamYeuThich.SanPhamYeuThichActivity"></activity>
        <activity android:name=".view.QuanLyTaiKhoan.QuanLyTaiKhoanActivity"></activity>
        <activity android:name=".view.QuanLyHoaDon.QuanLyHoaDonActivity"></activity>
        <activity android:name=".view.ChiTietHoaDon.ChiTietHoaDonActivity"/>
        <activity android:name=".view.QuanLyTaiKhoan.ThongTinTaiKhoanActivity"/>
        <activity android:name=".view.QuanLyHoaDon.DonHangActivity"/>
        <activity android:name=".view.SanPhamDaMua.SanPhamDaMuaActivity"/>
        <activity android:name=".view.QuenMatKhau.QuenMatKhauActivity"/>
        <activity android:name=".view.QuenMatKhau.ThongTinMatKhauActivity"/>
        <activity android:name=".view.ThemSanPham.ThemSanPhamActivity"/>
        <activity android:name=".view.TimKiem.TimKiemActivity"/>
        <activity android:name=".view.ThemSanPham.DanhSachLoaiSanPhamActivity"/>
        <activity android:name=".view.SanPhamDaXem.SanPhamDaXemActivity"/>
        <activity android:name=".view.ThemSanPham.ThongSoKyThuatActivity"/>
        <activity android:name=".view.SanPhamDaBan.SanPhamDaBanActivity"/>
        <activity android:name=".view.SuaThongTinSanPham.SuaThongTinSabPhamActivity"
            android:theme="@style/AppDialogTheme"
            android:label="Sửa thông tin sản phẩm"
            >

        </activity>

        <meta-data android:name = "com.facebook.sdk.ApplicationId"
            android:value = "@string/facebook_app_id" />
        <activity android:name = "com.facebook.FacebookActivity"
            android:configChanges = "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label = " @string/app_name"/>
        <activity android:name = "com.facebook.CustomTabActivity"
            android:exported = "true">
            <intent-filter>
                <action android:name = "android.intent.action.VIEW " />
                <category android:name = "android.intent.category.DEFAULT" />
                <category android:name = "android.intent.category.BROWSABLE" />
                <data android:scheme = "@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>